*{
    font-family: 'Roboto Mono', monospace;
}

body {
    background: #1f1f1f;
    /* background: linear-gradient(110deg, #3e313b 0%, #000000 100%); */
    color: #e3e3e3;
}

.h1{
    font-size:55px;
}
.h2{
    font-size:30px;
}


.TextoPresentacion {
    color: #e3e3e3;
}

.SectorColor{
    background: #38b6ff;
    color: #1f1f1f;
}

.logoProyecto{
    height: 300px;
}

.card-text{
    color: #1f1f1f;
}

.card-title{
    color: #1f1f1f;
}

.card-body{
    background-color: #e3e3e3;
}